table.jCalendar {
	background: #aaa;
	width: 100%;
	border: 1px solid #e84026;
	border-top: none;
	border-spacing: 1px;
	border-bottom: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	vertical-align: top;
}
table.jCalendar th {
	background: #ec644e;
	color: #fff;
	font-weight: normal;
	padding: 5px 5px;
	font-size: 11px;
}

table.jCalendar td {
	background: #ec644e;
	color: #fff;
	padding: 5px 5px;
	text-align: center;
	border: 1px solid #e84026;
	margin: 0;
	vertical-align: top;
}
table.jCalendar td.other-month {
	background: #ec644e;
	color: #e84026;
}
table.jCalendar td.today {
	color: #fff;
	background-color: #af1801;
}
table.jCalendar td.selected {
	background: url(../images/corner-lt.gif) 0 0 no-repeat, url(../images/corner-rt.gif) 100% 0 no-repeat, url(../images/corner-rb.gif) 100% 100% no-repeat, url(../images/corner-lb.gif) 0 100% no-repeat;
	color: #be220a;
	background-color: #faf6f0;
}
table.jCalendar td.selected.dp-hover {
	background: url(../images/corner-lt.gif) 0 0 no-repeat, url(../images/corner-rt.gif) 100% 0 no-repeat, url(../images/corner-rb.gif) 100% 100% no-repeat, url(../images/corner-lb.gif) 0 100% no-repeat;
	color: #be220a;
	background-color: #faf6f0;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: url(../images/corner-lt.gif) 0 0 no-repeat, url(../images/corner-rt.gif) 100% 0 no-repeat, url(../images/corner-rb.gif) 100% 100% no-repeat, url(../images/corner-lb.gif) 0 100% no-repeat;
	color: #be220a;
	background-color: #faf6f0;
}
table.jCalendar tr.selectedWeek td {
	background: #f66;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #e84026;
	color: #fb806d;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #e84026;
	color: #fb806d;
}

/* For the popup */

.dp-choose-date {
	display: none;
}

div.dp-popup {
	position: relative;
	width: 280px;
	background: #d7341b;
	font-size: 13px;
	font-family: 'Cabin', sans-serif;
	line-height: 18px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 9px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
.dp-popup:before {
	content:"";
	display: block;
	position: absolute;
	top: -7px;
	right: 20px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #d7341b;
}
/* Specific Theme Styles */
.dp-popup {
	margin: 38px 0 0 32px;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 14px;
	line-height: 1.2em;
	color: #faf6f0;
	text-align: center;
	margin: 10px 0;
	padding: 0;
}
#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #fff;
	display: inline-block;
	text-decoration: none;
	width: 11px;
	height: 10px;
	vertical-align: top;
	margin: 10px 16px 0 0;
	background: url(../images/arrows.png) 0 0 no-repeat;
	text-indent: -999px;
	overflow: hidden;
}
div.dp-popup a:hover {
	color: #b01902;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 4px;
	left: 15px;
	width: 70px;
	font-weight: bold;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
div.dp-popup .dp-nav-prev-year {
	background-position: -33px 0;
}
div.dp-popup .dp-nav-prev-year:hover,
div.dp-popup .dp-nav-prev-year.disabled {
	background-position: -33px -10px;
}
div.dp-popup .dp-nav-prev-month {
	background-position: -22px 0;
}
div.dp-popup .dp-nav-prev-month:hover,
div.dp-popup .dp-nav-prev-month.disabled {
	background-position: -22px -10px;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 4px;
	right: 15px;
	width: 70px;
	font-weight: bold;
}
div.dp-popup div.dp-nav-next a {
	float: right;
	margin-left: 16px;
	margin-right: 0;
}
div.dp-popup .dp-nav-next-year {
	background-position: -11px 0;
}
div.dp-popup .dp-nav-next-year:hover,
div.dp-popup .dp-nav-next-year.disabled {
	background-position: -11px -10px;
}
div.dp-popup .dp-nav-next-month {
	background-position: 0 0;
}
div.dp-popup .dp-nav-next-month:hover,
div.dp-popup .dp-nav-next-month.disabled {
	background-position: 0 -10px;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #b01902;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}