
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	display: inline-block;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: inline-block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** SKIN ***/
.sf-menu {
	text-align: center;
	width: 100%;
}
.sf-menu a {
	text-decoration:none;
	zoom: 1; /* IE7 */
}
.sf-menu li {
	background: none;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu > li {
	background: url(../images/star.png) 100% 50% no-repeat;
	padding: 0 17px 0 0;
}
.sf-menu > li:last-child {
	background: none;
}
.sf-menu > li.midsection {
	margin-right: 136px;
	background: none;
}
	.sf-menu > li > a {
		font-size: 16px;
		color: #eedec4;
		text-shadow: 1px 1px 0 #c81206;
		padding: 0 10px;
		line-height: 70px;
	}
	.sf-menu > li > a:hover {
		background: #faf6f0;
	}
.sf-menu > li.current-menu-item > a {
	color: #ad0101;
	text-shadow: 1px 1px 0 #fa735a;
}
.sf-menu > li > a:hover,
.sf-menu > li.sfHover > a {
	background: #faf6f0;
	color: #87190c;
	text-shadow: 1px 1px 0 #fff;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}
/* Submenu */
.sf-menu ul {
	background: #faf6f0;
	padding: 15px 0;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	min-width: 205px; /* allow long menu items to determine submenu width */
	*width: 205px; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu ul.left-sub {
	left: auto;
	right: 17px;
}
	.sf-menu ul.left-sub ul {
		left: -100%;
	}
.sf-menu ul li {
	padding: 7px 13px;
	text-align: left;
}
.sf-menu ul li a {
	display: block;
	position: relative;
	padding: 0 0 0 18px;
	color: #867270;
	font-size: 14px;
	text-shadow: 1px 1px 0 white;
}
	.sf-menu ul li > a:hover,
	.sf-menu ul li.current-menu-item > a,
	.sf-menu ul li.sfHover > a {
		color: #87190c;
	}
	.sf-menu ul li a:before {
		content:'';
		display: block;
		position: absolute;
		width: 5px;
		height: 5px;
		background: #867270;
		left: 0;
		top: 50%;
		margin-top: -2px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
		-moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
		box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
	}
	.sf-menu ul li a:hover:before,
	.sf-menu ul li.sfHover > a:before,
	.sf-menu ul li.current-menu-item > a:before {
		background: #87190c;
	}
.sf-menu ul li a:hover {
	color: #87190c;
}
.sf-menu ul ul {
	margin-top: -15px;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 2.25em;
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position: absolute;
	display: block;
	right: .75em;
	top: .9em;
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
	background: url(../images/arrows-ffffff.png) no-repeat 0 -100px;
}

li:hover > a .sf-sub-indicator,
li.sfHover > a .sf-sub-indicator {
	background-position: -10px -100px;
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator {
	background-position: 0 0;
}
.sf-menu ul li:hover > a .sf-sub-indicator,
.sf-menu ul li.sfHover > a .sf-sub-indicator {
	background-position: -10px 0;
}